<style>
    .profile-header {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 15px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .profile-pic {
        min-width: 300px;
        width: 400px;
        padding-right: 10px;
        padding-bottom: 20px;
        /* padding-left: 10px; */
        height: 100%;
    }
    .profile-text {
        /* margin-left: 20px; */
        min-width: 300px;
        /* padding-left: 10px; */
        width: 400px;
        flex: 1;
    }
</style>

<div class="profile-header">
    <div class="profile-pic">
        <img class="profile" src='{{ "/assets/images/bio_photo.jpg" }}'>
    </div>
    <div class="profile-text">
        <p>I am a data scientist at <a href="https://www.deepsense.ai/">deepsense.ai</a>. I am teaching machines to learn.</p>
        <!-- <p>I have a background in web development, and completed my undergraduate studies in computer science at Queensland University of Technology.</p>
        <p>I am super passionate about generative modelling, and related topics such as variational inference and neural compression. This blog is a
            place for me to share some of my learnings, and link to other code and projects that I am proud of.</p> -->
    </div>
</div>