<style>
    .profile-header {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 15px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .profile-pic {
        min-width: 300px;
        width: 200px;
        padding-right: 10px;
        padding-bottom: 20px;
        /* padding-left: 10px; */
        height: 80%;
    }
    .profile-text {
        /* margin-left: 20px; */
        min-width: 300px;
        /* padding-left: 10px; */
        width: 400px;
        flex: 1;
    }
</style>

<div class="profile-header">
    <div class="profile-pic">
        <img class="profile" src='{{ "/assets/images/bio_photo.jpg" }}'>
    </div>
    <div class="profile-text">
        <p>Working as a senior data scientist at <a href="https://www.deepsense.ai/">deepsense.ai</a>.</p>
        <p>Enjoying generative modelling, debugging and wacky jokes.</p>
    </div>
</div>